body{
    background-color: rgb(111, 0, 255);
 }
 .container{
    width: 500px;
    height: 500px;
    background-color:rgb(44, 139, 0);
    color:white;
    box-shadow: 10px 0 20px #000;
   
 }
 div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
 }